html{
    font-size: 10px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
.input-field{
    float: left;
    padding: 2rem;
    font-size: 20px;
    margin-left:0;
    margin-right: 0;
}
.second-wrap{
    font-size: 20px;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
}
.location{
    font-size: 1.5rem;
    padding: 2rem;
    margin-left: 0.6rem;
    width: 12rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding-right: 0;
    border:none;
    border-radius: 10px;
}
.navbar{
    margin-bottom: 10px;
    float: left;
    text-align: center;
}
#search{
    font-size: 1.5rem;
    padding: 2rem;
    width: 50rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border:none;
}
#buton{
    padding: 1.3rem;
    padding-right: 4rem;
    padding-right: 4rem;
    font-size: 1.5rem;
    border-radius: 10%;
    position: relative;
    top: 5px;

}
.fa-search{
    margin-left: 80%;
    text-align: center;
}
#button{
    padding:1.9rem;
    font-size: 1.5rem;
    border-radius: 10%;
    margin:0;
}
.dropdown-item{
    font-size: 1.5rem;
    padding: 2rem;
    border: 0;
}
.list-group{
    width:45%;
    height: auto;
    float: left;
    margin-right: 2%;

}
#product{
    margin-bottom: 15px;
}
#products{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.list-group-item img{
    width: 150px;
    height: 150px;
}

#item{
    color: #222222;
    font: 350 14px/22px 'Fira Sans', sans-serif;;
    letter-spacing: 1px;
    margin: 0 0 10px;
    text-transform: uppercase;
    position: absolute;
    top: 10%;
    left: 35%;
}
#price{
    font: 700 16px/26px "PT Sans",Helvetica,sans-serif;
    background-color:#222222;
    position: absolute;
    left: 35%;
    top: 60%;
}
#link{
    background-color:#F3A847 ;
    font: 700 16px/26px "PT Sans",Helvetica,sans-serif;
    position: absolute;
    right: 0;
    top: 60%;
    margin-right: 5%;
    margin-bottom: 5%;
}
#price,#link{
    border: none;
    height: auto;
    letter-spacing: 0.4px;
    padding: 9px 13px 7px;
    text-transform: uppercase;
    width: auto;
    text-shadow: none;
}
#link:hover,#price:hover{
    color: #222222;
    background-color: white;
    transition: 1s background-color;
}
.nav-item{
    font-size: 20px;
    margin-right: 10px;
}
.nav-item a{
    font-size: 2rem;
}
.nav-item:first-child{
    margin-left: 2rem;
}
.navbar {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
}
