{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:500,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<nav class="navbar">
    <div class="navbar navbar-collapse" id="basicExampleNav1">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item nav-top pl-2">
                <a href="#!" class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">
                    Sign in
                </a>
            </li>
            <li class="nav-item nav-top pl-2 mt-3">
                <a href="#!" type="button"
                   class="btn btn-primary btn-md btn-rounded btn-navbar waves-effect waves-light ml-4">Sign up</a>
            </li>
        </ul>
    </div>
</nav>

<main class="container navbar-expand-md navbar-light">

    <a class="navbar-brand" href="#!">
        <img src="{% static 'app/logo.png' %}" height="30" alt="mdb logo" style="width: 175px;height: 75px;">
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav1"
            aria-controls="basicExampleNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form method="post">
        {% csrf_token %}
        <div class="input-field first-wrap">
            {{form.product}}
        </div>
        <div class="input-field second-wrap">
            {{form.min_price}}
        </div>
        <div class="input-field second-wrap">
            {{form.max_price}}
        </div>
        <div class="input-field third-wrap">
            <button class="btn btn-success" id="buton" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>

    <div class="collapse navbar-collapse" id="basicExampleNav1">

    </div>
</main>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>