{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:500,600,700' rel='stylesheet' type='text/css'>
    <title>Document</title>
</head>
<body>
<div class="container">

        <div class="navbar">
            <form method="post">
                {% csrf_token %}
                <div class="input-field first-wrap">
                    {{form.product}}
                </div>
                <div class="input-field second-wrap">
                    {{form.min_price}}
                </div>
                <div class="input-field second-wrap">
                    {{form.max_price}}
                </div>
                <!--<div class="input-field">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort Price
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Lowest to highest</a>
                        <a class="dropdown-item" href="#">Highest to lowest</a>
                    </div>
                </div>-->
                <div class="input-field third-wrap">
                    <button class="btn btn-success" id="buton" type="submit">Search</button>
                </div>
            </form>
        </div>


{% for i in context %}
    <ul class="list-group" id="products">
            <li class="list-group-item"><img src="{{i.images}}">
          <span id="item">{{i.element}}</span>
          <span id="price">{{i.prices}}<span/>
          <a href="{{i.link}}" id="link" class="btn btn-primary">{{i.shop}}</a>
    </li>
    </ul>
{% endfor %}
</div>












<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>